<div class="row">
  <div class="col-md-6">
    <div class="card" (click)="gratis()">
      <div class="image">
        <img src="../../assets/img/examengratuito.png" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <h4><b>Examen Gratuito</b></h4>
        <p>Examen con duración de 15 minutos que consta de 5 preguntas generales.</p>
      </div>
    </div>
    <div class="card" (click)="especializacion()">
      <div class="image">
        <img src="../../assets/img/especializacion.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <h4><b>Examen Especializado</b></h4>
        <p>Examen con duración de 120 minutos que consta de 40 preguntas según especialización seleccionada.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" (click)="corto()">
      <div class="image">
        <img src="../../assets/img/corto.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <h4><b>Examen Corto</b></h4>
        <p>Examen con duración de 90 minutos que consta de 30 preguntas generales.</p>
      </div>
    </div>
    <div class="card">
      <div class="image" (click)="largo()">
        <img src="../../assets/img/largo.png" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <h4><b>Examen Largo</b></h4>
        <p>Examen con duración de 150 minutos que consta de 50 preguntas generales.</p>
      </div>
    </div>
  </div>
</div>
