<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="topnav" id="myTopnav">
        <a href="#" class="active">MedExam</a>
        <a href="#signup" class="signup">Registro</a>
        <a href="#login">Ingresar</a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        </div>
    </header>

    <div class="container">
        <form class="form-body" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <h3 id="title">Iniciar Sesión</h3>
            <h4 *ngIf="login != False">Correo o contraseña inválida. Por favor intente de nuevo.</h4>
            <div id="user-data" formGroupName="userData">
            <div class="form-group">
                <label for="email">Correo o usuario</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
                <label for="psw">Contraseña</label>
                <input type="password" id="psw" class="form-control" formControlName="psw">
                <span *ngIf="!signupForm.get('userData.psw').valid && signupForm.get('userData.psw').touched" class="help-block">Por favor ingrese una contraseña válida</span>
            </div>
            </div>
            
            <a (click)="enviarPeticionLogin(signupForm.valid, signupForm.touched)" class="btn btn-primary" role="button" aria-disabled="true" type="submit">Continuar</a>
            <br>
            <div>
                <a href="#forgotpsw">¿Olvidaste tu contraseña?</a>
            </div><br>
            <div>
                <a href="#signup">¡Regístrate!</a>
            </div>
        </form>
    </div>
</body>
</html>
