<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h3 class="card-title">Editar Perfil</h3>
      </div>
      <div class="card-body">
        <form class="form-body" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese su nombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Correo electrónico</label>
                <input type="email" class="form-control" disabled="" placeholder="Correo">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control"  disabled="" placeholder="Username" value="michael23">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Edad</label>
                <input type="number" class="form-control" placeholder="Ingrese su edad">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nueva contraseña</label>
                <input type="text" class="form-control" placeholder="********">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirmar contraseña</label>
                <input type="text" class="form-control" placeholder="Ingrese su contraseña de nuevo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <a (click)="enviarActualizacion(userForm.valid, userForm.touched)" class="btn btn-primary btn-round" role="button" aria-disabled="true" type="submit">Continuar</a>
              <button type="submit" class="btn btn-primary btn-round">Actualizar Perfil</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
