<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p><br>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Perfil</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese su nombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Correo electrónico</label>
                <input type="email" class="form-control" disabled="" placeholder="Correo">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control"  disabled="" placeholder="Username" value="michael23">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Edad</label>
                <input type="number" class="form-control" placeholder="Ingrese su edad">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Contraseña</label>
                <input type="text" class="form-control" placeholder="********">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Confirmar contraseña</label>
                <input type="text" class="form-control" placeholder="Ingrese su contraseña de nuevo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Actualizar Perfil</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
