

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!--<div class="card" (click)="gratis()">-->
          <div class="card">
            <div class="image">
                <img src="../../assets/img/corto.jpg" alt="Avatar" style="width:100%">
              </div>
            <div class="container">
              <h4><b>Examen Corto</b></h4>
              <p>Bienvenido a nuestro examen pago. El examen tiene una duración de 90 minutos y consiste de 30 preguntas tipo examen para poder analizar el conocimiento general que usted posee.</p>
              <p>Al finalizar el examen, se le mostrará la respuesta y explicación a cada punto que haya respondido.</p>
            </div>

            <div id="epay" style="display: flex; align-items: center; justify-content: center">
                <!--<a (click)="goToPago()" class="btn btn-primary" role="button" aria-disabled="true">Pagar</a>-->
            </div>
              
          </div>
    </div>
    <div class="col-md-2"></div>
</div>

