<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-copy-04 text-primary"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="numbers">
              <p class="card-category">Total de exámenes tomados</p>
              <br>
              <p class="card-title">{{ examenesTomados }}<p>
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-check-2 text-success"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="numbers">
              <p class="card-category">Total de preguntas acertadas</p>
              <br>
              <p class="card-title">{{ pAcertadas }}/{{ pTotal }}<p>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
    <div class="col-md-3"></div>

</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista de resultados</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Examen
              </th>
              <th>
                Puntaje
              </th>
              <th class="text-right">
                Detalle
              </th>
            </thead>
            <tbody>
              <ng-container *ngFor="let examen of examenes | paginate:page_size:page_number">
                <ng-container *ngFor="let e of examen | keyvalue"> 
                  <tr>
                    <td>{{ e.value.Nombre }}</td>
                    <td>{{ e.value.PreguntasCorrectas }}/{{ e.value.TotalPreguntas }}</td>
                    <td class="text-right">
                      <a routerLink="/answer/{{userId}}/{{e.value.IdExamenXUsuario}}" >Ver más</a>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="examenesTomados > 5">
                <mat-paginator [length]="examenesTomados"
                  [pageSize]="page_size"
                  [pageSizeOptions]="pageSizeOptions"
                  [hidePageSize]="true"
                  (page)="handlePage($event)"
                  aria-label="Select page" 
                  showFirstLastButtons>
                </mat-paginator>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


