<div *ngIf="popup_activated == true" class="window-notice" id="window-notice">
    <div class="contenido" style="font-size: 15px;">
        <div class="contenido-text">
          <h3 style="display: flex; align-items: center; justify-content: center">¡Muchos éxitos!</h3>
          <p>La prueba tendrá preguntas de selección múltiple la cual estará controlada por un temporizador, cada pregunta se mostrará indivualmente, una vez cambie de pregunta no podrá retroceder.</p>
          <p>Cada pregunta está pensada para que sea respondida en 3 minutos, por favor lea cuidadosamente.</p>
        </div>
        <div class="contenido-buttons" style="display: flex; align-items: center; justify-content: center">
          <a (click)="generarPreguntasPago()" class="btn btn-primary" role="button" aria-disabled="true">Empezar</a>
      </div>
    </div>
  </div>

