<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div id="container">
        <div>
        <img src="../../assets/img/logo.png">
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <label>Bienvenidos a Medexam, los invitamos a hacer parte de esta experiencia</label>
            </div>
            <div class="row-2"></div>
        </div>
        <br>
        <div>
            <a href="#login" class="btn btn-primary" role="button" aria-disabled="true">Iniciar sesión</a>
        </div>
        <br> 
    </div>
    
</body>
</html>