<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        
            <ng-container *ngFor="let pregunta of preguntas | paginate:page_size:page_number">
                <h3 style="color: gray">Solución</h3>
                <label style="color: gray; font-size: medium;">Respuestas {{ correctas }}/{{ nroPreguntas }}</label>
                <ng-container *ngFor="let p of pregunta | keyvalue">
                    <br>
                    <label *ngIf="p.value.RespuestaSeleccionada == p.value.RespuestaCorrecta; else Incorrecta" style="color: green; font-size: medium;">Correcta</label> 
                    <ng-template #Incorrecta><label *ngIf="p.value.RespuestaSeleccionada != p.value.RespuestaCorrecta" style="color: red; font-size: medium;">Incorrecta</label></ng-template>
                    <div class="card">
                        <div class="pregresp">
                        <div class="pregunta">{{ p.value.Pregunta }}<br /></div>
                            <div class="respuestas" >
                                <hr>
                                <ng-container [ngSwitch]="p.value.RespuestaSeleccionada">
                                    <div *ngSwitchCase="'A'">
                                        <input type="radio" name="answer" checked /> {{ p.value.OpcionA }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionB }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionC }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionD }}<br />
                                    </div>
                                    <div *ngSwitchCase="'B'">
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionA }}<br />
                                        <input type="radio" name="answer" checked /> {{ p.value.OpcionB }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionC }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionD }}<br />
                                    </div>
                                    <div *ngSwitchCase="'C'">
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionA }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionB }}<br />
                                        <input type="radio" name="answer" checked/> {{ p.value.OpcionC }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionD }}<br />
                                    </div>
                                    <div *ngSwitchCase="'D'">
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionA }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionB }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionC }}<br />
                                        <input type="radio" name="answer" checked/> {{ p.value.OpcionD }}<br />
                                    </div>
                                    <div *ngSwitchCase="' '">
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionA }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionB }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionC }}<br />
                                        <input type="radio" name="answer" disabled/> {{ p.value.OpcionD }}<br />
                                    </div>
                                </ng-container>
                            </div>
                            <hr/>
                            <p>Explicación</p>
                            <p>{{ p.value.Explicacion }}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <mat-paginator [length]="preguntas.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                [hidePageSize]="true"
                (page)="handlePage($event)"
                aria-label="Select page" 
                showFirstLastButtons>
            </mat-paginator>
            <div style="display: flex; align-items: center; justify-content: center">
                <a class="btn btn-primary" role="button" aria-disabled="true" (click)="terminar()">Terminar</a>
            </div>
        
    </div>
    <div class="col-md-2">
    </div>
</div>
